.categoriesContainer{
    /* display: flex; */
    /* gap: 10px; */
    /* justify-content: center; */
    margin: 20px 0;
    
}

.categoriesContainer button{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 20px;
}

