.active {
    color: blue;
}

.textContainer {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

.category {
    background: #98adf156;
    padding: 4px 15px;
    /* margin-top: 20px; */
    border-radius: 100px;
    color: blue;
    font-weight: 600;
}

.rating {
    color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
}

.rateCate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}

.title {
    font-weight: 600;
    color: #808080;
    height: 50px;
    padding: 10px 0;
}

.price {
    font-weight: 700;
    padding: 10px 0;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 0 0;
    gap: 10px;
    width: 100%;
}

.detailsBtn,
.addBtn {
    flex: 1;
}

